<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Splash Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.2/gh-fork-ribbon.min.css" />
    <script src="https://unpkg.com/vue@3.3.4"></script>
    <!-- "defer" means that the DOM gets loaded before the script is executed -->
    <script src="{{url_for('static', filename='app.js')}}" defer></script>
    <!-- Include Tailwind CSS via CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body id="app">
    <a class="github-fork-ribbon" href="https://github.com/patcon/ical-processor" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
    <!-- Source: https://flowbite.com/docs/components/navbar/#default-navbar -->
    <nav class="bg-white border-gray-200 dark:bg-gray-900">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="#" class="flex items-center">
            <img src="{{url_for('static', filename='calendar-days--solid.svg')}}" class="h-8 mr-3" alt="calendar icon" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">iCal Tracker</span>
        </a>
        <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <!-- Navbar items will go here -->
            </ul>
        </div>
        </div>
    </nav>
    <!-- Source: https://flowbite.com/docs/components/jumbotron/#default-jumbotron -->
    <!-- TODO -->
    <section class="bg-white">
        <div class="text-base text-gray-900 p-4">
            <p class="mb-3 font-medium text-lg">
                Convert any iCal feed into one with trackable links.
            </p>
            <p class="mb-3 text-sm">
                Note: This is still a work-in-progress, and the tracking backend and stats viewer is not yet implemented.
            </p>
        </div>
    </section>
    <section class="bg-white p-4">
        <form>
            <div class="mb-6">
                <label for="ical_url"
                    class="block mb-2 text-sm font-medium text-gray-900"
                >iCal URL</label>
                <input type="text" id="ical_url"
                    class="block w-full p-2.5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500"
                    placeholder="https://example.com/calendar.ics"
                    :value="icalUrl"
                    @input="handleIcalUrlInput"
                >
            </div>
            <div class="mb-6">
                <label for="tracked_url"
                    class="block mb-2 text-sm font-medium text-gray-900"
                >Tracked URL</label>
                <input text="text" id="tracked_url" disabled
                    class="block w-full p-2.5 bg-gray-100 border border-gray-300 text-gray-500 text-sm rounded-lg"
                    :value="trackedUrl"
                >
            </div>
            <div class="mb-6">
                <a :href="trackedUrlPreview"
                    class="font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none focus:ring-4 focus:ring-blue-300 text-white bg-blue-700 hover:bg-blue-800"
                >Preview Feed</a>
                <a :href="trackedUrl"
                    class="font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none focus:ring-4 focus:ring-gray-200 text-gray bg-white hover:bg-gray-100 hover:text-blue-700 border-gray-200 border"
                >Download File</a>
                <button class="font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none focus:ring-4 focus:ring-gray-200 text-gray bg-white hover:bg-gray-100 hover:text-blue-700 border-gray-200 border">Copy URL</button>
            </div>
        </form>
    </section>
</body>
</html>
